---
import { getCatNames } from '../utils/catData';
import RevealButton from '../components/RevealButton';

const catNames = await getCatNames();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Website 2025</title>
  </head>
  <body>
    <h1>Website 2025</h1>
    <script src="../scripts/index.ts"></script>
    <style>
      .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px 20px;
        font-size: 16px;
      }
    </style>
    <section class="center">
      <RevealButton client:load cats={catNames}>Reveal</RevealButton>
      <RevealButton client:load cats={['Secret', ...catNames]}
        >Reveal</RevealButton
      >
    </section>
  </body>
</html>
